:root {
  --container-width: 1080px;
  --container-padding: 5em;
  --container-colour: white;
}

.flexContainer {
  width: 75%;
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  background-color: var(--container-colour);
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 4vh;
  font-size: 1em;
  margin: 2vmin;
  max-width: var(--container-width) + var(--container-padding * 2);
  border: 1px solid black;
}
