.email {
  background: radial-gradient(circle farthest-side, #ffdd68, #ffc900);
  background-repeat: no-repeat;
  padding: 0.2rem;
  color: white;
  border: none;
  width: 10em;
  margin: 0 auto;
  font-size: 0.5rem;
  }